body{
	background-image: url(images/map.jpg);
}
.listederoulante{
	margin:100px;
	padding: 20px;
	color:white;
	font-family: 'Josefin Sans';
	font-size: 30px;
	border:;
}
#explo{
color:white;
margin: 100px;
font-family: 'Roboto';
font-size: 50px;
}
.img{
	margin-left:600px;
	width:300px;
	position: absolute;
}
a{
	background-color: white;
	opacity: 1;
	text-decoration: none;
	color:black;
	font-family:'Century Gothic';
}

.button{
	position: absolute;
	font-family: 'Roboto';
	color:brown;
	border-color: brown;
	width: 100px;
	height: 60px;
}